<body class="tempBody">
    
    <div class="Container">
        <div class="Page5Col1">
            <mat-card class="rectanglarCluster1Page5">
                <img mat-card-image src="../../assets/senImages/Screenshot (178).png" alt="Logo of the Developers">
            </mat-card>
            
            <mat-card class="rectanglarCluster2Page5">
                <img mat-card-image src="../../assets/senImages/Screenshot (176).png" alt="Logo of the Developers">
            </mat-card>
        </div>

        <div class="Page5Col2">
            <mat-card class="mainImageContainerDescription3" style= "z-index: 3;">
                <mat-card-header>
                <mat-card-title>Personal Website</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                <p><i>This a personal website to showcase some of my individual
                     projects and assignments in the years since I started studying.
                </i></p>
                </mat-card-content>
                <mat-card-actions>
                <button mat-button color="primary">View Project</button>
                </mat-card-actions>
            </mat-card>

        </div>

        <div class="Page5Col3">
            <mat-card class="rectanglarCluster3Page5">
                <img mat-card-image src="../../assets/senImages/Screenshot (177).png" alt="Logo of the Developers">
            </mat-card>

            <mat-card class="rectanglarCluster4Page5">
                <img mat-card-image src="../../assets/senImages/Screenshot (175).png" alt="Logo of the Developers">
            </mat-card>
        </div>
        
    </div>
</body>    

