<body class="tempBody">
  <br>
  <br>
  <div class="HomeTab"  routerLink="">
    <img  class="Icon" src="../../assets/senImages/Home.png">
  </div>
    <div class="ContainerPage6">

        <div class="Page6Row1">
            <mat-card class="mainImageContainerDescription3">
                <mat-card-header>
                <mat-card-title>Japanese Writing Evaluator</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                <p><i>The Japanese Language has three writing styles Hiragana , Katakana , Kanji .
                    This application will be aiding users in practicing and perfecting their
                     penmanship for the Japanese characters and give them personalized feedback.
                     The application uses Artificial Intelligence to accept images of characters
                     from users and then classify them into one of the writing styles mentioned
                     above whilst monitoring their improvement with their penmanship.
                </i></p>
                </mat-card-content>
                <a mat-button href="https://github.com/COS301-SE-2022/Japanese-Writing-Evaluator" target="_blank">View Project</a>
            </mat-card>
        </div>

        <div class="Page6Row2">
            <mat-card class="rectangularRow1">
                <img mat-card-image src="../../assets/senImages/Screenshot (93).png" alt="Logo of the Developers">
            </mat-card>

            <mat-card class="rectangularRow2">
                <img mat-card-image src="../../assets/senImages/Screenshot (95).png" alt="Logo of the Developers">
            </mat-card>

            <mat-card class="rectangularRow3">
                <img mat-card-image src="../../assets/senImages/Screenshot (97).png" alt="Logo of the Developers">
            </mat-card>
        </div>
    </div>

</body>

