@import '@angular/material/theming';


.ProjectCard
{
    max-width:80%;
    margin-left: auto;
    margin-right: auto;
    position: -webkit-sticky;

    @include mat-elevation-transition;
    @include mat-elevation(3);

    &:hover{
      @include mat-elevation(10);
  }
}

.ProjectCard2
{
    max-width:28%;
    max-height: 48%;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    width: 760px;
    height: 517px;
    left: 187px;
    top: 219.26px;

    filter: drop-shadow(8px 12px 12px rgba(0, 0, 0, 0.25));
    transform: rotate(-5deg);

    @include mat-elevation-transition;
    @include mat-elevation(3);

    &:hover{
      @include mat-elevation(10);
  }
}

.ProjectCard3
{
    max-width:25%;
    max-height: 30%;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    width: 569.51px;
    height: 508.59px;
    left: 625.52px;
    top: 380.34px;

    transform: rotate(6deg);
    @include mat-elevation-transition;
    @include mat-elevation(3);

    &:hover{
      @include mat-elevation(10);
  }
}


