<body class="tempBody">

    <div class="Container">

        <div class="Page7Col1">
            <mat-card class="step1">
                <img mat-card-image src="../../assets/senImages/AdminUtilization.png" alt="Logo of the Developers">
            </mat-card>
            
            <mat-card class="step2">
                <img mat-card-image src="../../assets/senImages/SuggestionSystem.png" height="150px" width="280px" alt="Logo of the Developers">
            </mat-card>
        </div>

        <div class="Page7Col2">   
            <mat-card class="mainImageContainerDescription4" style="overflow:scroll;">
                <mat-card-header>
                <mat-card-title>Team Utilization Monitor</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                <p ><i>Team utilisation monitor is an application that is used by administractors, 
                    or employers, to monitor and manage teams and projects. Management features include, 
                    creating teams and projects, assigning those teams to projects, adding and removing team 
                    members, assessing team members, seeing the utilisation of all members and generally having 
                    an overview of the entire organisation's operations. Admins can also add skills, for members to 
                    take up on and the platform has a recommendation engine that generates teams based on specific 
                    criteria with respect to the project.
                </i></p>
                </mat-card-content>
                <a mat-button href="https://github.com/COS301-SE-2022/Team-Utilisation-Monitor" target="_blank">View Project</a>
            </mat-card>

            <div class="Page7Col2Sub">
                <mat-card class="step3">
                    <img mat-card-image src="../../assets/senImages/Individual summary.png" height="150px" width="280px" alt="Logo of the Developers">
                </mat-card>

                <mat-card class="step4">
                    <img mat-card-image src="../../assets/senImages/IndividualUtilization.png" height="150px" width="280px" alt="Logo of the Developers">
                </mat-card>
            </div>
        </div>
    </div>

</body>    