<br>
<mat-card class="ProjectCard" mat-elevation="8">
  <mat-card-actions>
    <button mat-button color="#0000" [routerLink]="['/']" routerLinkActive="router-link-active" >Project 1</button>
    <button mat-button color="#0000" [routerLink]="['/Page2']" routerLinkActive="router-link-active" >News Website</button>
    <button mat-button color="#0000" [routerLink]="['/Page3']" routerLinkActive="router-link-active" >Game Website</button>
    <button mat-button color="#0000" [routerLink]="['/Page4']" routerLinkActive="router-link-active" >Project 4</button>
    <button mat-button color="#0000" [routerLink]="['/Page5']" routerLinkActive="router-link-active">Math U Similarity index</button>
    <button mat-button color="#0000" [routerLink]="['/Page6']" routerLinkActive="router-link-active">Project 6</button>
    <button mat-button color="#0000" [routerLink]="['/Page7']" routerLinkActive="router-link-active">Project 7</button>
    <button mat-button color="#0000" [routerLink]="['/Page8']" routerLinkActive="router-link-active">Project 8</button>
    <button mat-button color="#0000" [routerLink]="['/Page9']" routerLinkActive="router-link-active">Project 9</button>
    <button mat-button color="#0000" [routerLink]="['/Page4']" routerLinkActive="router-link-active">Project 10</button>
  </mat-card-actions>
</mat-card>
<mat-card class="ProjectCard2">
  <mat-card-header>
    <mat-card-title>Capstone Project</mat-card-title>
    <mat-card-subtitle>Japanesse Writing Evaluator</mat-card-subtitle>
    <img mat-card-image src="https://user-images.githubusercontent.com/73443014/165978561-4cbcb1b8-4468-45bf-a691-fd2339bfcc73.jpg" alt="Logo of the Developers">
  </mat-card-header>
</mat-card>

<mat-card class="ProjectCard3">
  <mat-card-header>
    <mat-card-title>Project Description</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p><i>The Japanesse Handwriting evaluator uses AI
          to take in a read a symbol written in any of
          the  3 styles writting styles  of jappanness
          and identify the symbol.
    </i></p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button color="primary">View Project</button>
  </mat-card-actions>
</mat-card>

