<body class="tempBody">
  <br>
  <br>
  <div class="HomeTab"  routerLink="">
    <img  class="Icon" src="../../assets/senImages/Home.png">
  </div>
    <div class="Container">
        <div class="Page8Col1">
            <mat-card class="rectanglarCluster1">
                <img mat-card-image src="../../assets/senImages/Screenshot (171).png" alt="Logo of the Developers">
            </mat-card>

            <mat-card class="rectanglarCluster2">
                <img mat-card-image src="../../assets/senImages/Screenshot (172).png" alt="Logo of the Developers">
            </mat-card>
        </div>

        <div class="Page8Col2">
            <mat-card class="mainImageContainerDescription2" style= "z-index: 3;">
                <mat-card-header>
                <mat-card-title>Lyric Video</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                <p><i>This is a “teaser” video to create interest for an album.
                    I animated a lyric video for “Village” by Wrabel.
                     This project demonstrates the use of Typography, semiotics and animation.
                </i></p>
                </mat-card-content>
                <a mat-button href="https://drive.google.com/file/d/1sr306Dpz5pUlAUnDCE_wu4CM33hgslpp/view?usp=sharing" target="_blank">View Video</a>
            </mat-card>
        </div>

        <div class="Page8Col3">
            <mat-card class="rectanglarCluster3">
                <img mat-card-image src="../../assets/senImages/Screenshot (173).png" alt="Logo of the Developers">
            </mat-card>

            <mat-card class="rectanglarCluster4">
                <img mat-card-image src="../../assets/senImages/Screenshot (174).png" alt="Logo of the Developers">
            </mat-card>
        </div>

    </div>
</body>
