<body class="tempBody">

    <br>
        <div class="ProjectContainer">

                <div class="ProjectRow1">
                    <h1>Projects</h1>
                </div>
    
                <div class="ProjectRow2">
                    <mat-card class="ProjectItem">
                        <img mat-card-image src="../../assets/senImages/1.png" height="134px" alt="Logo of the Developers">
                        <p>News Aggregator</p>
                    </mat-card>
    
                    <mat-card class="ProjectItem">
                        <img mat-card-image src="../../assets/senImages/2.png" height="134px" alt="Logo of the Developers">
                        <p>Personal webpage</p>
                    </mat-card>

                    <mat-card class="ProjectItem">
                        <img mat-card-image src="../../assets/senImages/3.png" height="134px" alt="Logo of the Developers">
                        <p>Japanese Writing Evaluator</p>
                    </mat-card>
                </div>

                <div class="ProjectRow3">
                    <mat-card class="ProjectItem">
                        <img mat-card-image src="../../assets/senImages/4.png" height="134px" alt="Logo of the Developers">
                        <p>Team Utilization Monitor</p>
                    </mat-card>
    
                    <mat-card class="ProjectItem">
                        <img mat-card-image src="../../assets/senImages/5.png" height="134px" alt="Logo of the Developers">
                        <p>Lyric Video</p>
                    </mat-card>

                    <mat-card class="ProjectItem">
                        <img mat-card-image src="../../assets/senImages/6.png" height="134px" alt="Logo of the Developers">
                        <p>Game Aggregator Website</p>
                    </mat-card>
                </div>
    
        </div>
    </body>





