<body class="tempBody">

    <br>
        <div class="Container">
    
                <div class="Page9Col2">
                    <mat-card class="rectanglarBelowClusterContainer1">
                        <img mat-card-image src="../../assets/senImages/2021_New_Releases.png" height="134px" alt="Logo of the Developers">
                    </mat-card>
    
                    <div class="Page2Col1Sub">
                        <mat-card class="rectanglarBelowClusterContainer2">
                            <img mat-card-image src="../../assets/senImages/2021_NewReleases.png" height="134px" alt="Logo of the Developers">
                        </mat-card>
    
                        <mat-card class="rectanglarBelowClusterContainer2">
                            <img mat-card-image src="../../assets/senImages/2021_TopRated.png" height="134px" alt="Logo of the Developers">
                        </mat-card>
                    </div>
    
                    <mat-card class="rectanglarBelowClusterContainer3">
                        <img mat-card-image src="../../assets/senImages/2021_TopRated2.png" height="134px" alt="Logo of the Developers">
                    </mat-card>
                </div>
    
        </div>
    </body>





