
<body class="tempBody">

    <br>
    <br>
    <div class="HomeTab"  routerLink="">
      <img  class="Icon" src="../../assets/senImages/Home.png">
    </div>
        <div class="Container">
                <div class="Page4Col1">
                    <mat-card class="Page4rectanglarBelowClusterContainer1">
                        <img mat-card-image src="../../assets/senImages/2022_Sa.png" alt="Logo of the Developers">
                    </mat-card>


                    <mat-card class="Page4rectanglarBelowClusterContainer2">
                        <img mat-card-image src="../../assets/senImages/2022_Content.png" alt="Logo of the Developers">
                    </mat-card>

                    <mat-card class="Page4rectanglarBelowClusterContainer3">
                        <img mat-card-image src="../../assets/senImages/2022_Covid.png" alt="Logo of the Developers">
                    </mat-card>
                </div>

                <div class="Page4Col2">
                    <div class="Page4Col2Sub1">
                        <mat-card class="Page4mainImageContainer">
                            <img mat-card-image src="../../assets/senImages/2022_Today.png" height="217px" width="324px" alt="Logo of the Developers">
                        </mat-card>

                        <mat-card class="Page4mainImageContainer">
                                <img mat-card-image src="../../assets/senImages/Calendar_2022.png"  height="217px" width="324px" alt="Logo of the Developers">
                        </mat-card>
                    </div>

                    <div class="Page4Col2Sub2">
                        <mat-card class="Page4mainImageContainerDescription1">
                        <mat-card-header>
                            <mat-card-title>News Aggregator</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <p><i>This website draws news topics from various APIs,
                                 the news topics include SA as well as global news, there are
                                  also a variety of filters along with a search function the users
                                   can use to filter there selected news topics.
                            </i></p>
                        </mat-card-content>
                        <a mat-button href="https://giftmonwa.github.io/LucaWebsite/" target="_blank">View Project</a>
                        </mat-card>
                    </div>

                </div>

        </div>
    </body>
