<div class="ContentContainer">

  <div class="ImageContainer">
    <img class="ClosedBook" src="../../assets/senImages/closed-book 1.png">
  </div>
  <div class="TabsContainer">
    <div class="Tab1Container">
      <div class="Tab1">
        <span>View Our Projects</span>
      </div>
      <img  class="Icon1" src="../../assets/senImages/projectIcon.png" onmouseover="ChangeStyling">
    </div>

      <div class="Tab2Container">
        <div class="Tab2">
          <span>About Us</span>
        </div>
        <img  class="Icon2" src="../../assets/senImages/projectIcon.png">
      </div>

      <div class="Tab3Container">
        <div class="Tab3">
          <span>Contact Us</span>
        </div>
        <img  class="Icon3" src="../../assets/senImages/projectIcon.png">
      </div>
  </div>
</div>





