<div class="ContentContainer">

  <div class="ImageContainer">
    <img class="ClosedBook" src="../../assets/senImages/closed-book 1.png">
  </div>
  <div class="TabsContainer">


    <div class="TabContainer">
      <div class="Tab">
        <span>View Our Projects</span>
      </div>
      <img  class="Icon" src="../../assets/senImages/projectIcon.png">
    </div>

      <div class="TabContainer">
        <div class="Tab">
          <span>About Us</span>
        </div>
        <img  class="Icon" src="../../assets/senImages/projectIcon.png">
      </div>

      <div class="TabContainer">
        <div class="Tab">
          <span>Contact Us</span>
        </div>
        <img  class="Icon" src="../../assets/senImages/projectIcon.png">
      </div>


  </div>
</div>





